#root {

  --std-src-size: 900px;

  --lightSecondary: rgb(234, 234, 234);
  --titleSize: 30pt;
  --relativeNavBar: 25px;
  --noSmallScreen: flex;

  --smallScreenFlexDirection: row;
  --smallScreento100: 100%;


  --sml100large40: 40%;
  --sml100large60: 60%;

  --lar100Sml20: 100%;
  --lar100Sml60: 100%;


  --lar900pxSml1600px: 900px;

  --primary: rgb(87, 124, 182);
  --secondary: rgb(30, 93, 193);
  --remove: #c70000
}


@media screen and (max-width: 960px) {
  #root {
    --std-src-size: 100%;
  }
}

@media screen and (max-width: 625px) {
  #root {
    --smallScreenFlexDirection: column;
    --noSmallScreen: none;

    --sml100large40: 100%;
    --sml100large60: 100%;

    --lar100Sml20: 30%;
    --lar100Sml60: 70%;

    --lar900pxSml1600px: 1200px;

  }
}


@media screen and (max-width: 440px) {
  #root {
    --relativeNavBar: 4vw;
    /* --lar100Sml60: 120%; */
  }

  .placeContainer {
    overflow: scroll;
  }
}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Comfortaa', cursive; */
  font-family: 'Outfit', sans-serif;
  /* color: white; */

}

button:hover {
  cursor: pointer;
}


header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: end;
  height: 100px;
  /* border: solid 1pt blue; */
  background-color: white;
  position: relative;
  box-shadow: 0px 0px 15px 5px rgb(234, 234, 234);

  #logoContainer {
    display: var(--noSmallScreen);
    position: absolute;
    left: 0;
    /* border: solid 1pt red; */
    width: 90px;
    margin-left: 30px;
    margin-bottom: 10px;
    object-fit: contain;

    #logo {
      width: 100%;
    }

  }

  >#btnContainer {
    display: flex;
    flex-direction: row;

    >.btnHeader {
      background: none;
      text-decoration: none;
      border: none;
      margin: 10px;
      padding: 10px;
      color: var(--fontColor);
      font-size: var(--relativeNavBar);
      border-radius: 5px;

    }

    >.btnHeader:hover {
      background-color: #ec4d3884;
      text-decoration: none;

    }
  }
}


.CenterArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* border: solid 1pt blue;/ */
}


.MainLogoContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
  margin: 25px 0;
  /* border: solid 1pt red; */
  object-fit: contain;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-image: url(/tripBuddyBIG.png);

  #mainLogo {
    width: 90%;

  }

}







.searchbarContainer {
  width: var(--std-src-size);

  #citySearch {
    width: 100%;
    height: 50px;
    font-size: 16pt;
    border: none;
    border-radius: 5px;
    margin: 30px 0;
    padding: 5px;
    background: var(--lightSecondary);

  }

  #citySearch:active {
    border: red;
  }
}

.resultContainer {
  display: flex;
  flex-direction: var(--smallScreenFlexDirection);
  width: var(--std-src-size);
  height: var(--lar900pxSml1600px);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px 5px rgb(192, 192, 192);

  /* border: solid 1pt red; */
}

.listContainer {
  display: flex;
  flex-direction: column;
  width: var(--sml100large40);
  height: var(--lar100Sml20);
  overflow-y: scroll;
  /* border: solid 1pt violet; */
}

.previewContain {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 15px 0;
  background-color: var(--primary);
  width: 100%;
  border: solid 1pt rgba(59, 93, 147, 0.297);
  border-radius: 5px;
  color: white;
  text-decoration: none;
  height: 600px;


}

.previewContain:hover {
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--secondary);
  /* background-color: rgb(113, 153, 218); */
}



.placeName {
  /* border: solid 1pt blue; */
  margin: 10px 15px;
  font-size: 15pt;
  font-weight: 500;
}

.placeRating {
  margin: 0 15px;
  font-size: 10pt;

  /* border: solid 1pt violet; */
}




.listContainer::-webkit-scrollbar {
  width: 10px;
}

.listContainer::-webkit-scrollbar {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.listContainer::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
  cursor: pointer;

}



.placeContainer {
  display: flex;
  flex-direction: column;
  width: var(--sml100large60);
  height: var(--lar100Sml60);
  align-content: center;
  align-self: center;
  align-items: center;


  #placeTitle {
    margin: 15px 0;
    font-size: 30pt;
    text-align: center;
  }

  #previewImg {
    /* width: 70%; */
    height: 30%;
  }

  #placeDescription {
    margin: 15pt 0;
    width: 85%;
  }

  .addressContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    align-content: center;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    text-decoration: none;

    background-color: var(--primary);
    border: none;
    box-shadow: 0 0 15px 1px rgb(192, 192, 192);
    border-radius: 5pt;
    color: white;


    .addressLineOne {
      display: flex;
    }

    .addressLineTwo {
      display: flex;
    }
  }

  .addressContainer:hover {
    background-color: var(--secondary);
    box-shadow: inset 0 0 25px 5px var(--primary);
  }

  .addressText {
    margin: 0 2px;
  }


  .savebtn {
    background-color: var(--primary);
    height: 40px;
    width: 100px;
    border: none;
    box-shadow: 0 0 15px 1px rgb(192, 192, 192);
    border-radius: 5pt;
    color: white;
    margin-bottom: 15px;
  }

  .savebtn:hover {
    background-color: var(--secondary);
    box-shadow: inset 0 0 25px 5px var(--primary);
    transform: scale(.96);
  }

}


:root {
  --bgBlack: #343434
}



.myPlaceContainer {
  display: flex;
  flex-direction: column;
  width: var(--std-src-size);
  border-radius: 15px;
  background-color: none;
  overflow: hidden;
  /* box-shadow: 0 0 15px 5px rgba(181, 181, 181, 0.491); */

}

.savePlaceItems {
  display: flex;
  width: 100%;
  height: 225px;
  border-radius: 15px;
  margin: 5px 0;


  .imgContainer {
    display: flex;
    border-radius: 15px 0 0 15px;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    height: 100%;
    width: 40%;
    background-color: var(--bgBlack);
    /* border: solid 1pt purple; */

    .thumblenail {
      height: 90%;
      max-width: 100%;
      /* width: 50%; */
      object-fit: cover;
      border-radius: 5px;
      box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.259);
      /* border: solid 1pt yellow; */
    }






  }

  .infoContainer {
    display: flex;
    width: 60%;
    flex-direction: column;
    border-radius: 0 15px 15px 0;
    /* background-color: var(--secondary); */
    border: solid .5pt var(--bgBlack);

    position: relative;



    .title {
      /* margin: 15px; */
      padding: 5px;
      width: 100%;
      overflow: hidden;
      /* font-size: clamp(30pt, 30pt, 6vw); */
      font-size: 25pt;


    }

    .bottomContainer {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 69%;
      position: relative;
      padding: 5px;




      .descriptionContainer {
        display: flex;
        flex-direction: column;
        font-size: 10pt;
        position: relative;
        height: 100%;
        width: 80%;
        overflow: scroll;
        /* border: solid 1pt red; */

      }

      .btnContainer {
        display: flex;
        flex-direction: column;
        width: 20%;
        justify-content: center;
        align-items: center;

        .btn-green {
          color: green;
        }

        .btn {
          height: 40px;
          width: 25px;
          background-color: var(--remove);
          text-decoration: none;
          color: white;
          margin: 5px 0;


        }

        .btn:hover {
          cursor: pointer;
          transform: scale(.95);
        }

        .btn-green {
          background-color: green;
        }
      }
    }


  }


}















#myplaces {
  color: gray;
  font-size: var(--titleSize);
  margin: 30px;


}









footer {
  display: flex;
  flex-direction: row;
  z-index: 999;
  width: 100%;
  /* height: 10.5rem; */
  justify-content: center;
  align-items: center;
  margin-top: 160px;
  /* position: fixed; */
  bottom: 0;
  background-color: #3f4347;


  #logoContainer {
    position: absolute;
    left: 0;
    width: 90px;
    margin-left: 30px;
    object-fit: contain;

    #logo {
      width: 100%;
    }


  }

  @media screen and (max-width: 470px) {
    footer {
      display: flex;
      flex-direction: column;
      border: solid 1pt red;
      background-color: antiquewhite;
      #logoContainer {
        border: solid 1pt blue;
        position:unset;
        left:50;
  
        #logo {
          width: 100%;
        }
  
  
      }
    }

   

  }



  .autherTitle {
    text-decoration: underline;
    text-align: center;
    margin-top: 10px;
    color: rgb(173, 173, 173);
  }

  .footerInfo {
    margin-top: 60px;
    /* border: solid 1pt red; */
    height: 100%;
    display: flex;
    flex-direction: column;


  }

  .userContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    #gitLogoContainer {
      height: 16pt;
      width: 16pt;
      margin: 0 5px;

      #smalllogo {
        height: 100%;
        object-fit: cover;

      }
    }

    .name {
      width: 110%;
      font-size: 16pt;
      text-decoration: none;
      color: white;
      text-align: center;

    }

    .name:hover{
      cursor: pointer;
      color: bisque;
    }
  }

  .copyrightContainer {
    /* border: solid 1pt red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12pt;
    color: rgb(166, 166, 166);
  }




}







#root {
  background-color: white;
}