#root {

  --std-src-size: 900px;

  --lightSecondary: rgb(234, 234, 234);
  --titleSize: 30pt;
  --noSmallScreen: flex;

  --smallScreenFlexDirection: row;
  --smallScreento100: 100%;


  --sml100large40: 40%;
  --sml100large60: 60%;

  --lar100Sml20: 100%;
  --lar100Sml60: 100%;


  --lar900pxSml1600px: 900px;

  --primary: rgb(87, 124, 182);
  --secondary: rgb(30, 93, 193);
}


@media screen and (max-width: 960px) {
  #root {
    --std-src-size: 100%;
  }
}

@media screen and (max-width: 625px) {
  #root {
    --smallScreenFlexDirection: column;
    --noSmallScreen: none;

    --sml100large40: 100%;
    --sml100large60: 100%;

    --lar100Sml20: 30%;
    --lar100Sml60:70%;

    --lar900pxSml1600px: 1200px;

  }



}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Comfortaa', cursive; */
  font-family: 'Outfit', sans-serif;
  /* color: white; */

}

button:hover {
  cursor: pointer;
}


header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: end;
  height: 100px;
  /* border: solid 1pt blue; */
  background-color: white;
  position: relative;
  box-shadow: 0px 0px 15px 5px rgb(234, 234, 234);

  #logoContainer {
    display: var(--noSmallScreen);
    position: absolute;
    left: 0;
    /* border: solid 1pt red; */
    width: 90px;
    margin-left: 30px;
    margin-bottom: 10px;
    object-fit: contain;

    #logo {
      width: 100%;
    }

  }

  >#btnContainer {
    display: flex;
    flex-direction: row;

    >.btnHeader {
      background: none;
      text-decoration: none;
      border: none;
      margin: 10px;
      padding: 10px;
      color: var(--fontColor);
      font-size: 25px;
      border-radius: 5px;

    }

    >.btnHeader:hover {
      background-color: #ec4d3884;
      text-decoration: none;

    }
  }
}


.CenterArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* border: solid 1pt blue;/ */
}

.searchbarContainer {
  width: var(--std-src-size);

  #citySearch {
    width: 100%;
    height: 40px;
    font-size: 16pt;
    border: none;
    border-radius: 5px;
    margin: 20px 0;
    padding: 5px;
    background: var(--lightSecondary);

  }

  #citySearch:active {
    border: red;
  }
}

.resultContainer {
  display: flex;
  flex-direction: var(--smallScreenFlexDirection);
  width: var(--std-src-size);
  height: var(--lar900pxSml1600px);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px 5px rgb(192, 192, 192);

  /* border: solid 1pt red; */

  .listContainer {
    display: flex;
    flex-direction: column;
    width: var(--sml100large40);
    height: var(--lar100Sml20);




    overflow-y: scroll;
    /* border: solid 1pt violet; */

    .previewContain {
      /* border: solid 1pt red; */
      height: 110px;
      display: flex;
      flex-direction: column;
      justify-content: left;
      background-color: var(--primary);
      border: none;
      width: 100%;
      border: solid 1pt rgba(59, 93, 147, 0.297);
      border-radius: 5px;
      color: white;
      text-decoration: none;


    }

    .previewContain:hover {
      cursor: pointer;
      /* background-color: rgb(113, 153, 218); */
    }



    #placeName {
      /* border: solid 1pt blue; */
      margin: 10px 15px;
      font-size: 15pt;
      font-weight: 500;
    }

    #placeRating {
      margin: 0 15px;
      font-size: 10pt;

      /* border: solid 1pt violet; */
    }



  }

  .listContainer::-webkit-scrollbar {
    width: 10px;
  }

  .listContainer::-webkit-scrollbar {
    box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  }
  .listContainer::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 10px;
    cursor: pointer;

  }



  .placeContainer {
    display: flex;
    flex-direction: column;
    width: var(--sml100large60);
    height: var(--lar100Sml60);
    align-content: center;
    align-self: center;
    align-items: center;


    #placeTitle {
      margin: 15px 0;
      font-size: 30pt;
      text-align: center;
    }

    #previewImg {
      width: 70%;
    }

    #placeDescription {
      margin: 15pt 0;
      width: 85%;
    }

    #savebtn {
      background-color: var(--primary);
      height: 40px;
      width: 100px;
      border: none;
      box-shadow: 0 0 25px 5px rgb(192, 192, 192);
      border-radius: 5pt;
      color: white;
    }

  }



}



#myplaces {
  color: gray;
  font-size: var(--titleSize);
  margin: 30px;


}









footer{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: end;

  #logoContainer {
    display: var(--noSmallScreen);
    position: absolute;
  left: 0;
  /* border: solid 1pt red; */
  width: 90px;
  margin-left: 30px;
  margin-bottom: 10px;
  object-fit: contain;
  
  #logo {
    width: 100%;
  }
  
}
}