.topContainer{
  display: flex;
  justify-content: center;
  /* border: solid 1pt red;  */
  
}
.formContainer{
    display: flex;
    height: 350px;
    flex-direction: column; 
    justify-content:space-evenly; 
    /* justify-self: center; */
    /* justify-items: center; */
    /* align-content: center; */
    align-items: center;
    /* align-content: center; */
    /* align-self: center; */

}
.btnForm{
    margin: 15px;
    align-self: center;
    
    
}